.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #000000b3;
}

.modal {
  width: 70%;
  padding: 0;
}

.modal header {
  padding: var(--error-padding);
  color: #fff;
  background-color: var(--main-dark-color);
  border-top-right-radius: calc(var(--border-radius) - 3px);
  border-top-left-radius: calc(var(--border-radius) - 3px);
}

.modal .content {
  padding: var(--error-padding);
}

.modal footer {
  text-align: end;
  padding: var(--error-padding);
  padding-top: 0;
}
