:root {
  --main-dark-color: #1a2f36;
  --error-padding: 1rem 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--main-dark-color);
}
